<profile>
  <id>sonar</id>
  <activation>      
      <activeByDefault>true</activeByDefault>
  </activation>   
  <properties>
      <sonar.jdbc.url>jdbc:postgresql://localhost/sonar</sonar.jdbc.url>
      <sonar.jdbc.driver>org.postgresql.Driver</sonar.jdbc.driver>
      <sonar.jdbc.username>sonar</sonar.jdbc.username>
      <sonar.jdbc.password>sonar</sonar.jdbc.password>
      <!-- SERVER ON A REMOTE HOST -->      
      <sonar.host.url>https://sonarcloud.io/</sonar.host.url>
  </properties>
</profile>
